<h1> Welcome, please enter your log in password </h1>

<form action= "/login" method= "post">
	<input type="text" name="email" placeholder="Enter login " >
	<input type= "text" name="password" placeholder="Enter password">
	<button type= "submit"> submit</button>

</form>
	




<!-- Then, create a '/' home route, on this route there should be a form with fields for a username and password. -->
<!-- DONE -->

<!-- This form should make a post to /login. Login should use your tested password checker, and check to see if the user's login is secure. -->

<!-- If it is indeed secure, redirect your user to a page called /congratulations with pictures of puppies, unicorns, and cotton candy.
 -->
<!-- If the password is not secure, redirect your user back to the login form. -->