<h1> FIND YOUR SPOT </h1>


<div class="controls">
  
  <label>Choose your level:</label>
  
  <button class="filter" data-filter="all">All</button>
  <button class="filter" data-filter=".beginner">Beginner</button>
  <button class="filter" data-filter=".intermediate">Intermediate</button>
   <button class="filter" data-filter=".advanced">Advanced</button>
</div>

<!-- Loop through the category's locations -->
<div id="Container" class="container">
  
          <!-- Level:Beginnner Content needs to be replaced -->
  <div class="mix beginner" data-myorder="Some other shit"> 
    <img class="fuck" src="/assets/brickell_1.jpg" alt="Brickell picture">
  </div>
          <!-- Level:Beginner Content needs to be replaced -->
  <div class="mix beginner" data-myorder="Miramar National Park">
    <img class="fuck" src="/assets/drone_pic.jpg" alt="Drone picture">
   </div>
            <!--Level:Beginner Content needs to be replaced-->  
  <div class="mix beginner" data-myorder="Buttonwood Park">
    <img class="fuck" src="/assets/drone_pic.jpg" alt="Drone picture">
  </div>
              <!--Level:Intermediate Content needs to be replaced -->
  <div class="mix intermediate" data-myorder="Haulover Park Marina">
    <img class="fuck" src="/assets/south_beach.jpg" alt="south_beach">
  </div>
            <!--Level:Intermediate Content needs to be replaced -->
  <div class="mix intermediate" data-myorder="Apartments Picture">
  <img class="fuck" src="/assets/apartments_miami.jpg" alt="Brickell picture">
  </div>
            <!--Level:Intermediate Content needs to be replaced -->
  <div class="mix intermediate" data-myorder="Some other place in Brickell">
    <img class="fuck" src="/assets/apartments_miami.jpg" alt="Brickell picture">
  </div>
              <!--Level:Advanced  Content needs to be replaced -->
  <div class="mix advanced" data-myorder="North of South Beach">
    <img class="fuck" src="/assets/brickell_1.jpg" alt="Brickell picture">
  </div>
               <!--Level:Advanced  Content needs to be replaced -->
  <div class="mix advanced" data-myorder="Central Miami Beach">
    <img class="fuck" src="/assets/brickell_1.jpg" alt="Brickell picture">
  </div>
  
  <div class="gap"></div>
  <div class="gap"></div>
  
</div>