
<link rel="stylesheet" href="/style.css"> 

<h1>Welcome to your favorite website! </h1>
<img src="/movies.jpg" alt="Watching Movies">
<h2> Enter any keywords to find your movies! </h2>

<div>
	<form action="/search" method="post">
		<input type="text" name="search_title" placeholder="search title">
		<button type="submit">Enter</button>
	</form>

</div>

