<!doctype html>
<html>
	<link rel="stylesheet" href="/style.css"> 

	<h1>Welcome a reliable movie source!</h1>
	<img src="/movies.jpg" alt="Watching Movies">
	<h2> Enter any keywords to find your movies! </h2>

	<div>
		<form action="/search" method="post">
			<input type="text" name="search_title" placeholder="search title">
			<button type="submit">Enter</button>
	</form>

</div>
</html>
#form is important because it tells where the information is going to go
#The name is the key: it is the reference to what the user enters
#How to access what the user would type in? = using params
