<link rel="stylesheet" href="/style.css"> 

<h1>Here are your nine movies!</h1>

<ul>
	<% @arr_movies.each do |movie| %>
		<!-- print one movie -->
	<li>
		<!--need erb tags;coming from a  movies -->
		<!--       |               | -->
		<!--       v               v -->
		<img src="<%= movie.poster %>" alt="Watching Movies">
	</li>

	<% end %>

<h2>What year was the movie filmed?</h2>

<div>
	<form action="/" method="">
		## need code here
	</form>

</div>

</ul>
<img src="" on Click="alert('yay')" />

<h2>
Which of these films was relased in
<em><%= @correct.year %></em>?
</h2>